@model IEnumerable<EW_NOR_2024.Models.RegistoUtilizador>

@{
    ViewData["Title"] = "Index";
}

<h1>Utilizadores</h1>

@if(TempData["msgOK"] != null)
{
    <p style="color: forestgreen; font-weight:bold;">@TempData["msgOK"]</p>
}


@if (Context.Session.Keys.Contains("estado") && Context.Session.GetString("estado") == "editar")
{
    <p>
        <a asp-action="Adiciona" class="btn btn-outline-primary">+</a>
    </p>
}

<partial name="Listagem" model="Model"/>
